<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Insight-Ai</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
      #banner{width: 100%;height: 360px;object-fit: cover;}
    </style>
    
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 md-4">Welcome to {{company_name}}</h1>  
      <img class="img-fluid" id="banner" src="https://insight-ai--shammisaini19.repl.co/static/banner2.jpg">
      <h2 class="text-center mt-2 mb-4">About Insight Ai</h2>
      <p class="lead">
        Artificial intelligence (AI) is pushing the boundaries of machine-enabled functionalities. This bleeding-edge technology facilitates machines to act with a degree of autonomy, resulting in effective execution of iterative tasks.
  
  AI facilitates the creation of a next-generation workplace that thrives on seamless collaboration between enterprise system and individuals. Therefore, human resources are not made obsolete, but rather, their efforts are bolstered by emerging tech. In fact, AI provides organisations with the luxury of freeing up resources for higher-level tasks.
      </p>
        <h2 class="text-center mt-2 mb-4"> List of avilable reports</h2>
        
      <div>
          {% for report in reports %}
            
        {% include 'reportlist.html' %}
        
          {% endfor %}
      </div>



      
  <div class="text-center">
    <button class="btn btn-secondary mt-2"> Contact Us</button>
      <p class="mt-4">Copyright 2023 Shammi's Code</p>
      </div>
    </div>
  </body>
</html>